@use 'src/styles/vars';

.single {
  display:flex;
  flex-direction: column;
  font-family: 'Poppins';
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 95vh;
  width: 80%;
  margin:auto;
  padding-left: 3rem;
  padding-right: 3rem;
}