.episodes {
  display:flex;
  flex-direction: column;
  font-family: 'Poppins';
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  min-height: 95vh;
  width: 75%;
  margin: 6rem 3rem 3rem 3rem;
  
    
    @media screen and (max-width: 1024px){
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 768px){
      width: 100%;
    }



  &__post {
    width: 100%;
    min-height: 50vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }  

  &__title {
    font-size: 20px;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px){
      justify-content: center;
    }
  }

  &__description {
    font-weight: 200;
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 0 2rem 0 2rem;

    @media screen and (max-width: 768px){
      
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top:1rem ;
  }

  &__logo-facebook {
    padding-right: 1em;
  }

  &__image {
    height: 400px;
    width: auto;
    padding: 0 1em 1em 1em;
    
      
      @media screen and (max-width: 1500px){
        height: 300px;
        width: auto;
        margin: auto;
      }

      }

&__right-section {
  
  text-align: left;
  margin: 0 3rem 0 3rem;
  width: 80%;

  animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
          @keyframes fade-in-top {
            0% {
              transform: translateY(-50px);
              opacity: 0;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
  
 

  @media screen and (max-width: 768px){
    margin:auto;
    width: 100%;
  }

}

&__left-section {
  margin-left: 8rem;
  animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
          @keyframes fade-in-top {
            0% {
              transform: translateY(-50px);
              opacity: 0;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }

  
  @media screen and (max-width: 768px){
    width: 30%;
  }

}

}


.episode {
  background-color: #1a1d1e;
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  display: flex;
   
 
  &__data {
    padding: 0 1rem 1rem 1rem;
  }

  &__data-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
  }
 
  &__post-description {
    margin-top: 1rem;
    line-height:1.6;
    font-size: 14px;
    display: flex;
    flex-direction: row;

      p{
        padding-right: 2rem;
      }

      
    @media screen and (max-width: 1024px){
      padding-right: 0.1rem;
      font-size: 12px;
      }

    }

    &__post-title {
      font-size: 20px;
    }


    &__image {
      margin-top: 0.1rem;
      height: 150px;
      width: 150px;
    }
  

  svg {
    width: 2.5em;
    height: 2.5em;
}  

.audioplayer {
  width: 300px;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__play-pause {
    border: none;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1a1d1e;
  }
}


}