.podcasts {

  min-height: 80vh;


  &__title {
    margin-top: 8rem;
    font-size: 30px;
  }

  &__data {
    width: 90%;
    margin: auto;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px){
      width: 90%;
      padding: 1em;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .podcast {
      align-items: center;
      margin: auto;
      justify-content: space-evenly;
      padding: 1em;
      text-align: center;
      

      &__title {
        margin-top: 1rem;
        font-size: 20px;
      }

      &__image {
      height: 300px;
      width: auto;
      padding: 1em;
      opacity: 1;
	    -webkit-transition: .3s ease-in-out;
	    transition: .3s ease-in-out;
        &:hover {
        opacity: 0.8;
        }
      
      @media screen and (min-width: 768px){
          height: 400px;
          width: auto;
          padding: 1em;
          margin: auto;
        }

        }
      }  
      }


  
  }