.poddetails {
  display:flex;
  flex-direction: column;
  font-family: 'Poppins';
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  min-height: 95vh;
  width: 75%;
  margin:auto;
  margin-top: 5rem;
  
    
    @media screen and (max-width: 1024px){
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 768px){
      width: 100%;
    }


  &__title {
    font-size: 20px;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px){
      justify-content: center;
    }
  }

  &__description {
    font-weight: 200;
    text-align: left;
    padding-right: 1rem;
    padding-left: 1rem;

    @media screen and (max-width: 768px){
      
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top:1rem ;
  }

  &__logo-facebook {
    padding-right: 1em;
  }

  &__image {
    height: 400px;
    width: auto;
    padding: 1em;
    
      @media screen and (max-width: 1024px){
        height: 300px;
        width: auto;
        padding: 1em;
        margin: auto;
      }

      @media screen and (max-width: 1500px){
        height: 300px;
        width: auto;
        padding: 1em;
        margin: auto;
      }

      }

&__right-section {
  
  text-align: left;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  margin: auto;
  margin-left: 2em;

  animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
          @keyframes fade-in-top {
            0% {
              transform: translateY(-50px);
              opacity: 0;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
  
  @media screen and (max-width: 1500px){
     margin-left: 1em;
  }

  @media screen and (max-width: 1024px){
    margin-left:0;
  }

}

&__left-section {
  padding-right: 1em;
  padding-left: 1em;

  animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
          @keyframes fade-in-top {
            0% {
              transform: translateY(-50px);
              opacity: 0;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }

  @media screen and (max-width: 1024px){
    width: 100%;
  }

  @media screen and (max-width: 1500px){
    width: 70%;
  }

  @media screen and (max-width: 768px){
   width: 100%;   
  }
}

&__post {
background-color: #1a1d1e;
padding: 1.5rem;
padding-bottom: 2.8rem;
margin-bottom: 2rem;
}

&__post-description {
  margin-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 3.2rem;
  line-height:1.6;
  font-size: 16px;

  @media screen and (max-width: 1024px){
    padding-right: 0.1rem;
    font-size: 12px;
    }

  }

&__post-title {
  padding-left: 3.2rem;
  font-size: 20px;
  }

svg {
  width: 2em;
  height: 2em;
}  

}