@use 'src/styles/vars';
.navbar{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: vars.$write-color;
  color: vars.$main-color;
  padding: 1rem;
  position: fixed;
  width: 100%;
  border: none;
  
}

.navbar__logo {
    display: flex;
    margin-right: 4rem;
    margin-left: 2rem;
  }

.navbar__links {
  display: flex;
  
  }

.navbar__link {
  text-align: center;
  margin: 0.5em;
  font-size: 110%;
  font-weight:500;
    &:hover{
      color: vars.$back-color; 
      }
    &--active {
      color: vars.$back-color;
    }
  }

.navbar__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border:none;
    color:inherit;
    display: none;
  }

  @media screen and (max-width: 768px){
    
  .navbar__links{
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      position: fixed;
      right:-100vw;
      top: 0;
      height: 40vh;
      padding:1rem;
      background-color:vars.$main-color ;
      
    }
  
    .navbar__show-nav .navbar__logo {
      display: flex;
      margin-right: 4rem;
      margin-left: 2rem;
    }

  .navbar__show-nav .navbar__links{
      right:0;
      width: 100vw;
      visibility: visible;
      color:white;
    }
    

  .navbar__link{
      display: block;
      padding: 1.5rem;
      font-size: 20px;
    }

  .navbar__burger {
      display: block;
      position:fixed;
      top: 0.2rem;
      right:2rem;
    }    

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after{
      display: block;
      width: 40px;
      height: 3px;
      position:relative;
      border-radius: 3px;
      background: white;
      transition: all .3s ease-in-out;

    }
  .burger-bar::before,
  .burger-bar::after{
      content:"";
      position: absolute;
      left:0;
    }

  .burger-bar::before{
      transform: translateY(-11px);
    }

  .burger-bar::after{
      transform: translateY(12px);
    }

  .navbar__show-nav .burger-bar {
    width: 0;  
    background: transparent;
    }

    .navbar__show-nav .burger-bar::before {
      transform: rotate(45deg);
    }

    .navbar__show-nav .burger-bar::after {
      transform: rotate(-45deg);
    }

  }

